<?xml version="1.0"?>
<configuration>
    <connectionStrings>   
        <add name="MyKey" 
             connectionString="Data Source=greenanimals;Initial Catalog=db;Persist Security Info=True;UserID=begreenanimals pass_oracle=Pa55w@r12."
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>